.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.homepage section {
  @apply flex h-5/6 flex-col items-center justify-center gap-20 text-center;
}

.homepage h1 {
  @apply text-5xl leading-none sm:text-6xl sm:leading-snug lg:text-7xl;
}

.homepage h2 {
  @apply mb-9 w-full text-2xl text-[var(--color-light--1)] sm:w-2/3 sm:text-3xl sm:font-normal lg:text-4xl;
}
