@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz {
  @apply flex w-auto flex-col items-center justify-center;
}

.main {
  @apply mb-[2rem] flex w-3/4 flex-col items-center text-center;
}

.quizh {
  @apply mb-[4rem] flex w-[66rem] items-center justify-between;
}

.error {
  @apply rounded-full bg-[#495057] p-[2rem] text-center text-[1.6rem] font-medium;
}

.quiz img {
  @apply w-48;
}

.quiz h1 {
  @apply mb-14 mt-20 text-center font-["Codystar"] text-6xl font-semibold tracking-wide text-stone-200 sm:text-7xl lg:text-9xl;
}

.quiz h2 {
  @apply mb-8 mt-10 items-center text-center text-3xl sm:text-4xl lg:text-6xl;
}

.quiz h3 {
  @apply mb-16 text-3xl font-semibold lg:text-5xl;
}

.quiz h4 {
  @apply mb-9 text-center text-3xl font-semibold lg:text-5xl;
}

.start {
  @apply flex flex-col items-center;
}

.progress {
  @apply mb-10 grid grid-cols-2 content-between gap-5 text-2xl text-[var(--color-medium)] sm:text-4xl lg:text-4xl;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  @apply block cursor-pointer rounded-full border-2 border-stone-900 bg-stone-700 px-6 py-1 text-3xl text-stone-300 duration-300;
}

.btn:not([disabled]):hover {
  background-color: #57534e;
}

.btnoption:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btnui {
  float: right;
}

.options {
  @apply mb-8 flex flex-col gap-[1.2rem] lg:p-8;
}

.btnoption {
  width: 100%;
  text-align: left;
}

.btnoptioncorrect {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-dark);
}
.btnoptionwrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-dark);
}

.answer {
  transform: translateX(2rem);
}

.result {
  @apply /* background-color: var(--color-theme); color: var(--color-dark); border-radius: 100px; text-align: center; padding: 2rem 0; font-size: 2rem; font-weight: 500; margin-bottom: 1.6rem; */rounded-full w-full bg-[var(--color-theme)] p-7 text-center text-2xl font-normal text-[var(--color-dark)];
}

.result span {
  @apply mr-[4px] text-[2.2rem];
}

.highscore {
  @apply mb-14 mt-10 text-center text-4xl sm:text-5xl;
}

.loaderc {
  @apply mt-[4rem] flex flex-col items-center gap-[1.6rem] text-[1.4rem] text-stone-300;
}

.timer {
  @apply float-left rounded-full border-2 border-[#292524] px-6 py-1 text-[1.8rem] text-stone-300;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */

/* ********** */
/* First counter example */
.counter {
  @apply m-[6rem] flex flex-col items-center gap-[1rem] text-[2rem] font-bold;
}

.counter * {
  @apply p-[0.8rem] text-inherit;
}

.mtquiz {
  @apply mt-20;
}
