@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz {
  @apply flex flex-col items-center justify-center;
}

.main {
  @apply mb-[2rem] w-[50rem];
}

.quizh {
  @apply mb-[4rem] flex w-[66rem] items-center justify-between;
}

.error {
  @apply rounded-full bg-[#495057] p-[2rem] text-center text-[1.6rem] font-medium;
}

.quiz img {
  @apply w-[14rem];
}

.quiz h1 {
  @apply font-["Codystar"] text-[5.6rem] font-semibold text-stone-300;
}

.quiz h2 {
  @apply mb-[2rem] text-[3.6rem];
}

.quiz h3 {
  @apply mb-[4rem] text-[2.4rem] font-semibold;
}

.quiz h4 {
  @apply mb-[2.4rem] text-center text-[2.2rem] font-semibold;
}

.start {
  @apply flex flex-col items-center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  @apply block cursor-pointer rounded-full border-2 border-stone-900 bg-stone-800 px-5 py-1 text-[2rem] text-inherit duration-300;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btnoption:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btnui {
  float: right;
}

.options {
  @apply mb-[3.2rem] flex flex-col gap-[1.2rem];
}

.btnoption {
  width: 100%;
  text-align: left;
}

.btnoptioncorrect {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-dark);
}
.btnoptionwrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-dark);
}

.answer {
  transform: translateX(2rem);
}

.result {
  background-color: var(--color-theme);
  color: var(--color-dark);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  @apply mr-[4px] text-[2.2rem];
}

.highscore {
  @apply mb-[4.8rem] text-center text-[1.8rem];
}

.loaderc {
  @apply mt-[4rem] flex flex-col items-center gap-[1.6rem] text-[1.4rem] text-stone-400;
}

.timer {
  @apply float-left rounded-full border-2 border-[#292524] px-5 py-1 text-[1.8rem] text-stone-400;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background:
    radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

/* ********** */
/* First counter example */
.counter {
  @apply m-[6rem] flex flex-col items-center gap-[1rem] text-[2rem] font-bold;
}

.counter * {
  @apply p-[0.8rem] text-inherit;
}

.mtquiz {
  @apply mt-14;
}
