.nav {
  @apply bg-red-400;
}

.nav ul {
  @apply list-none flex flex-row items-center justify-between;
}

.nav :global(.active) {
  background-color: green;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
